mixin project(src,description)
    li
        img(src=src, alt="")
        p.description= description

.my-projects#my-projects
    h2.section-head my projects
    .container
        .present-place
            .show
                iframe(src="https://moustafasa.github.io/space-tourism-multi-page-website/") 
                p.description ljfklasdjfkdsajkfdsalfjksda
            .list-cont
                ul.list
                    +project(`${imgPath}/project.png`,'space tourism project from frontend mentor')
                    +project(`${imgPath}/project.png`,'space tourism project from frontend mentor')
                    +project(`${imgPath}/project.png`,'space tourism project from frontend mentor')
                    +project(`${imgPath}/project.png`,'space tourism project from frontend mentor')
                    +project(`${imgPath}/project.png`,'space tourism project from frontend mentor')
                    +project(`${imgPath}/project.png`,'space tourism project from frontend mentor')
